{% extends "update-form-layout.html" %}

{% block form %}
    <div class="form-group">
        <label>Stock</label>
            <input type="text" class="form-control" name="stock_name">
    </div>
    <div class="form-group py-1">
        <label>Market Code</label>
        <input type="text" class="form-control" name="stock_code">
    </div>
    <div class="form-group py-1">
        <label>Direction</label>
        <input type="text" class="form-control" name="stock_direction">
    </div>
    <div class="form-group py-1">
        <label>Currency</label>
        <input type="text" class="form-control" name="stock_currency">
    </div>
    <div class="form-group py-1">
        <label>Price</label>
        <input type="text" class="form-control" name="stock_price">
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" name="stock_quantity">
    </div>
    <div class="update-button py-3">
        <button class="btn btn-outline-light" type="submit">Confirm</button>
    </div>
{% endblock %}